body {
  margin: 0;
  padding: 0;
}

#project {
  background-color: #54bab9;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
